<div class="uk-height-medium uk-background-cover uk-light uk-flex container-topo-menu">

  <nav class="uk-navbar-container uk-margin navbar-fixed-top" uk-navbar="mode: click">
    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">

        <li>
          <div class="uk-inline input-search-top-menu">
            <span class="uk-form-icon fas fa-search uk-form-icon-flip"></span>
            <input class="uk-input" type="text">
          </div>
        </li>

        <li>
          <a href="#">Item</a>
        </li>

      </ul>

    </div>
  </nav>

</div>

<div class=" uk-grid-small uk-margin-left uk-margin-right uk-child-width-expand margin-negative-grid uk-margin-medium-bottom"
  uk-grid>

  <div class="uk-width-medium uk-padding-remove-left">
    <div class="uk-card uk-card-default uk-card-body">

      <img class="img-avatar-user" src="assets/images/user-avatar.jpg">

      <ul class="uk-list">

        <li class="text-link-menu-user">
          <a class="uk-button uk-button-text">
            <i class="fas fa-home"></i> Home
          </a>
        </li>

        <li class="text-link-menu-user">
          <a class="uk-button uk-button-text">
            <i class="fas fa-warehouse"></i> Garagem
          </a>
        </li>

        <li class="text-link-menu-user">
          <a class="uk-button uk-button-text">
            <i class="fas fa-user-friends"></i> Amigos
          </a>
        </li>

      </ul>

    </div>
  </div>

  <!-- Inicio card Central-->
  <div>

    <p class="text-name-user-avatar">
      Fulano de Tal
    </p>

    <!-- Inicio Menu Social -->
    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
      <div class=" uk-grid-collapse uk-child-width-expand" uk-grid>

        <div>
          sssss
        </div>

        <div class=" uk-grid-collapse uk-child-width-expand" uk-grid>

          <div>

            <div class="icon-social-menu-profile">
              <i class="fas fa-user-friends"></i> 1528
            </div>

          </div>

        </div>

      </div>

    </div>
    <!-- Fim Menu Social -->

    <!-- Inicio Lina do Tempo -->
    <div class="uk-margin-top" uk-margin>

      <div class="uk-card uk-card-default card-post-timeline">

        <div class="uk-card-header uk-padding-small header-card-timeline">
          <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="assets/images/user-avatar.jpg">
            </div>

            <div class="uk-width-expand">

              <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>

              <p class="uk-text-meta uk-margin-remove-top">
                <time datetime="2016-04-01T19:00">April 01, 2016</time>
              </p>
            </div>

          </div>
        </div>

        <div class="uk-card-body uk-padding-small">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="uk-card-footer uk-padding-small uk-text-right">

          <div class="uk-float-left">

            <div class="icon-footer-post-timeline">
              <i class="far fa-comments"></i> 5
            </div>

            <div class="icon-footer-post-timeline">
              <i class="far fa-thumbs-up"></i> 152
            </div>

          </div>

          <div class="uk-float-right">
            <a href="#" class="uk-button uk-button-text">
              Read more
            </a>
          </div>

        </div>

      </div>

      <div class="uk-card uk-card-default card-post-timeline">

        <div class="uk-card-header uk-padding-small header-card-timeline">
          <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="assets/images/user-avatar.jpg">
            </div>

            <div class="uk-width-expand">

              <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>

              <p class="uk-text-meta uk-margin-remove-top">
                <time datetime="2016-04-01T19:00">April 01, 2016</time>
              </p>
            </div>

          </div>
        </div>

        <div class="uk-card-body uk-padding-small">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="uk-card-footer uk-padding-small uk-text-right">

          <div class="uk-float-left">

            <div class="icon-footer-post-timeline">
              <i class="far fa-comments"></i> 5
            </div>

            <div class="icon-footer-post-timeline">
              <i class="far fa-thumbs-up"></i> 152
            </div>

          </div>

          <div class="uk-float-right">
            <a href="#" class="uk-button uk-button-text">
              Read more
            </a>
          </div>

        </div>

      </div>
    </div>
    <!-- Fim Linha do Tempo -->

  </div>
  <!-- Fim Card Central -->

  <div class="uk-width-medium">
    <div class="uk-card uk-card-default uk-card-body uk-padding-remove">

      <ul class="uk-list">

        <li>
          <!-- Ecosport -->
          <div class="uk-cover-container">
            <canvas width="120" height="140"></canvas>
            <img src="assets/images/img-carro-1.jpg" class="img-list-car-profile" uk-cover>
          </div>

          <div class="info-list-car-profile">

            <p class="title-list-car-profile">
              Ecosport 1.6 FST
            </p>

            <div class=" uk-grid-collapse uk-child-width-expand" uk-grid>

              <div>
                <ul class="uk-list uk-list-bullet">
                  <li>FORD</li>
                  <li>2014</li>
                  <li>AWX-2604</li>
                  <li>55236</li>
                </ul>
              </div>

              <div class="icon-list-car-profile">
                <i class="fas fa-gas-pump"></i>
                <i class="fas fa-wrench"></i>
                <i class="fas fa-gas-pump"></i>
                <i class="fas fa-wrench"></i>
              </div>

            </div>

          </div>

        </li>

        <li>
          <!-- Mustang -->
          <div class="uk-cover-container">
            <canvas width="120" height="140"></canvas>
            <img src="assets/images/img-carro-2.jpg" class="img-list-car-profile" uk-cover>
          </div>

          <div class="info-list-car-profile">

            <p class="title-list-car-profile">
              Mustang GT Premium V8
            </p>

            <div class=" uk-grid-collapse uk-child-width-expand" uk-grid>
              <div>
                <ul class="uk-list uk-list-bullet">
                  <li>FORD</li>
                  <li>2017</li>
                  <li>AAA-2255</li>
                  <li>12000</li>
                </ul>
              </div>

              <div class="icon-list-car-profile">
                <i class="fas fa-gas-pump"></i>
                <i class="fas fa-wrench"></i>
              </div>

            </div>
          </div>

        </li>

      </ul>

      <button class="uk-button uk-button-secondary uk-width-1-1">
        Adicionar
        <i class="fas fa-plus"></i>
      </button>

    </div>
  </div>

</div>