<!-- Inicio Menu Mobile -->
<div id="menu-mobile" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h4>Menu</h4>

    <div class="list-menu-mobile">
      <ul uk-nav>

        <li class="uk-parent">

          <a class="uk-accordion-title" href="#">

            <i class="fas fa-map-marker-alt"></i>

            Item com submenu

            <i class="fas fa-angle-down list-menu-after-open"></i>

          </a>

          <ul class="uk-nav-sub list-submenu">

            <li>
              <a >
                <i class="fas fa-caret-right"></i> Item submenu 1
              </a>
            </li>

            <li>
              <a >
                <i class="fas fa-caret-right"></i> Item submenu 2
              </a>
            </li>

            <li>
              <a >
                <i class="fas fa-caret-right"></i> Item submenu 3
              </a>
            </li>

          </ul>

        </li>

        <li>
          <a >
            <i class="fas fa-map-marker-alt"></i> Item sem submenu
          </a>
        </li>

        <li>
          <a >
            <i class="fas fa-map-marker-alt"></i> Item sem submenu
          </a>
        </li>

        <li>
          <a >
            <i class="fas fa-map-marker-alt"></i> Item sem submenu
          </a>
        </li>

        <li>
          <a >
            <i class="fas fa-map-marker-alt"></i> Item sem submenu
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- Fim Menu Mobile -->

<!-- Inicio Menu Lateral -->
<div class="uk-width-medium@m sidbar-internal uk-visible@s">

  <img class="uk-flex uk-margin uk-text-center" src="assets/images/logo.png">

  <div class="list-menu">

    <!-- Menu Accordion -->
    <ul uk-nav>

      <li class="uk-parent">

        <a class="uk-accordion-title" >

          <i class="fas fa-map-marker-alt"></i>

          Item com submenu

          <i class="fas fa-angle-down list-menu-after-open"></i>

        </a>

        <ul class="uk-nav-sub list-submenu">

          <li>
            <a >
              <i class="fas fa-caret-right"></i> Item submenu 1
            </a>
          </li>

          <li>
            <a >
              <i class="fas fa-caret-right"></i> Item submenu 2
            </a>
          </li>

          <li>
            <a >
              <i class="fas fa-caret-right"></i> Item submenu 3
            </a>
          </li>

        </ul>

      </li>

      <li>
        <a >
          <i class="fas fa-map-marker-alt"></i> Item sem submenu
        </a>
      </li>

      <li>
        <a >
          <i class="fas fa-map-marker-alt"></i> Item sem submenu
        </a>
      </li>

      <li>
        <a >
          <i class="fas fa-map-marker-alt"></i> Item sem submenu
        </a>
      </li>

      <li>
        <a >
          <i class="fas fa-map-marker-alt"></i> Item sem submenu
        </a>
      </li>

    </ul>

  </div>
</div>
<!-- Fim Menu Lateral-->