<div class="paralax-error-400" uk-parallax="bgy: 500" style="background-image: url('./assets/images/fundo-paralax-1.jpg');">

</div>

<div class="uk-flex">
  <div class="uk-margin-auto uk-margin-auto-vertical">

    <div class="uk-position-center uk-width-1-3 section-erro-400">

      <h1>
          <i class="far fa-frown"></i> Opsss...
      </h1>

      <p>
          Não encontramos o endereço que você tentou acessar não existe ou foi desativa, recomendamos que você volte a Home Page e tente novamente.
      </p>

    </div>

  </div>
</div>